*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: Gilroy, sans-serif;
  min-width: 320px;
  color: $color__text-main;
  font-size: 18px;

  &.no-scroll {
    overflow: hidden;
  }
}

.site {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.btn {
  display: block;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
}
