.popup-wrapper {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
    padding: 10px;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}

.popup {
    max-width: 512px;
    max-height: 100%;
    border-radius: 15px;
    padding: 50px 30px 60px;
    background-color: $color__white;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    transform: scale(1);
    transition: all 0.3s;

    &::-webkit-scrollbar {
        display: none;
    }

    &__close-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        border: none;
        outline: none;
        background-color: transparent;
        width: 20px;
        height: 20px;

        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 10px;
            border-radius: 5px;
            background-color: $color__orange;
            top: 50%;
            left: 25%;
        }

        &:before {
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(45deg);
        }
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        margin: 0 0 25px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;
        margin: 0 auto;

        &__label {
            align-self: flex-start;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 25px;
        }

        &__input {
            width: 100%;
            border: 1px solid $color__border;
            box-sizing: border-box;
            border-radius: 25px;
            outline: none;
            padding: 10px 20px;
            margin-bottom: 25px;
        }

        &__btn {
            align-self: stretch;
            background: linear-gradient(90deg, #4EB9DB 9.72%, rgba(56, 139, 196, 0.68) 95.5%);
            box-shadow: 0 0 0 rgba(70, 171, 215, 0.4),
            inset -3px -5px 20px rgba(31, 135, 205, 0.45),
            inset 4px -11px 30px rgba(20, 42, 74, 0.06);
            border-radius: 56px;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            color: $color__white;
            padding: 22px 0;
            text-align: center;
            transition: all 0.2s;

            @media (min-width: 992px) {
                &:hover {
                    box-shadow: 0 4px 30px rgba(70, 171, 215, 0.4),
                    inset -3px -5px 20px rgba(31, 135, 205, 0.45),
                    inset 4px -11px 30px rgba(20, 42, 74, 0.06);
                }
            }
        }
    }
}

.hidden {
    .popup {
        transform: scale(0);
    }
}

@media (max-width: 575px) {
    .request-popup {
        .popup {
            &__title {
                font-size: 25px;
                line-height: 30px;
            }
        }
    }
}
